<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container d-flex justify-content-start">
    <a class="navbar-brand" href="#">DatingApp</a>
    <ul *ngIf="accountService.currentUser$ | async" class="navbar-nav me-auto mb-2 mb-md-0">
      <li class="nav-item">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Disabled</a>
      </li>
    </ul>
    <div class="w-100 d-flex justify-content-end">
      <form *ngIf="!(accountService.currentUser$ | async)"
        class="w-50 d-flex"
        #loginForm="ngForm"
        (ngSubmit)="login()"
        autocomplete="off"
      >
        <input
          name="username"
          [(ngModel)]="model.username"
          class="form-control me-2 mr-2"
          type="search"
          placeholder="Username"
        />
        <input
          name="password"
          [(ngModel)]="model.password"
          class="form-control me-2 mr-2"
          type="password"
          placeholder="Password"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      <div *ngIf="accountService.currentUser$ | async" class="dropdown" dropdown>
        <a class="dropdown-toggle text-light" dropdownToggle>Welcome user</a>
        <div class="dropdown-menu mt-1" *dropdownMenu>
          <a class="dropdown-item">Edit Profile</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="logout()">Logout</a>
        </div>
      </div>
    </div>
  </div>
</nav>
